*.pas linguist-language=Delphi
*.dproj linguist-language=Delphi
*.res linguist-language=Delphi
*.rc linguist-language=Delphi
*.dfm linguist-language=Delphi
*.dpr linguist-language=Delphi
*.dres linguist-language=Delphi
*.dfm linguist-language=Delphi
